.board {
    -fx-skin        : "com.thowv.reversiboard.skins.ReversiBoardSkin";
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}

.tile {
    -fx-background-color: #4EA379;
    -fx-border-width    : 1px;
    -fx-border-color    : #000000;
}

.stonePieceInactive {
    /*-fx-fill: radial-gradient(center 50% 50%, radius 90%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);*/
    -fx-fill: rgba(0, 0, 0, 0);
}

.stonePieceActive {
    -fx-fill: radial-gradient(center 50% 50%, radius 90%, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}

.stonePieceActive:hover {
    -fx-fill: rgba(255, 255, 255, 0.3);
}

.stonePieceActive:pressed {
    -fx-fill: rgba(255, 255, 255, 0.5);
}

.stonePieceBlack {
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, #4A4A4A 0%, #242424 100%);
}

.stonePieceWhite {
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, #F2F2F2 0%, #D1D1D1 100%);
}
