.game-board {
    -fx-border-width: 0px;
    -fx-effect: innershadow(gaussian, white, 1, 1, 0, 0);
}

.game-board-tile {
    -fx-background-color: white;
    -fx-border-width    : 1px;
    -fx-border-color    : #000000;
    -fx-padding: 1ex;
}

.game-board-tile-inner {
    -fx-shape: "M 400 400 A 50 50 0 1 1 400 300 A 50 50 0 1 1 400 400 Z";
}

.game-board-tile-inner-hidden {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.game-board-tile-inner-visible {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.game-board-tile-inner-interactable {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.game-board-tile-inner-interactable:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.game-board-tile-inner-interactable:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.game-board-tile-inner-player-1 {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(255,0,0,0) 72%, black 73%);
}

.game-board-tile-inner-player-2 {
    -fx-shape: "M 100 100 L 250 250 L 100 400 L 150 450 L 300 300 L 450 450 L 500 400 L 350 250 L 500 100 L 450 50 L 300 200 L 150 50 L 100 100 Z";
    -fx-background-color: black;
}
